extends base

block content
  h2 Reset Your Password
  
  p Hello #{name},
  
  p We received a request to reset your Encriptofy account password. Click the button below to set a new password:
  
  div(style='text-align: center; margin: 30px 0;')
    a.btn(href=url) Reset Password
  
  p If the button doesn't work, you can copy and paste this link into your browser:
  
  .token= url
  
  p This link will expire in 10 minutes for security reasons.
  
  p If you didn't request a password reset, please ignore this email or contact support if you have any concerns.
  
  p Thanks,
  br
  | The Encriptofy Team
